@{
    ViewData["Title"] = "Kurv";
}
<div class="cartwrapper">
    <div class="itemwrapper">
        <div class="iteminnerwrapper">
            <img src="assets/hdmi.jpg" alt="">
            <p>Hdmi Kabel (100m)</p>
            <p>Pris 100kr</p>
            <img class="smallicon" src="assets/x.png" alt="">
        </div>
        <p style="float:right;">Total: 100kr</p>
    </div>
    <div class="billingform">
        <p>Navn</p>
        <input type="field">
        <p>Efternavn</p>
        <input type="field">
        <p>Mail</p>
        <input type="field">
        <p>Adresse</p>
        <input type="field">
        <p>Reg</p>
        <input type="field">
        <p>4 Cifre</p>
        <input type="field">
        <button>Køb</button>
    </div>
</div>
