<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <script type="text/javascript" src="/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>@ViewData["Title"] - Elgros</title>
</head>
<body>
    <header>
        <div class="header">
            <img class="logo" src="assets/elgros_logo_png.png" alt="">
            <div class="toolbar">
                <img class="icon" src="assets/support.png" alt="">
                <img class="icon" src="assets/fast-delivery.png" alt="">
                <img class="icon" src="assets/cart.png" alt="">
            </div>
        </div>
        <div class="navbar">
            <a href="">Værktøj</a>
            <a href="">Ledninger</a>
            <a href="">Tilbud</a>
        </div>
        <h1 style="color:white;">Indkøbskurv</h1>
        <div id="products">
        </div>
    </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
