@inject IHttpContextAccessor context;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <script type="text/javascript" src="/js/site.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>@ViewData["Title"] - Elgros</title>
</head>
<body>
    <header>
        <div class="header">
            <img class="logo" src="assets/elgros_logo_png.png" alt="">
            <div class="toolbar">
                @*<img class="icon" src="assets/support.png" alt="">*@
                <img class="icon" src="assets/fast-delivery.png" alt="">
                <div style="display:flex; flex-direction:row;">
                    <a href="/cart"><img class="icon" src="10.13.0.125/pictures/cart.png" alt=""></a>
                    @if (context.HttpContext.Session.Keys.Contains("cartcount"))
                    {
                        <a style="margin-left: -30px; color:white; font-weight:bold;"> @context.HttpContext.Session.GetInt32("cartcount").ToString()</a>
                    }else{
                        <a style="margin-left: -30px; color:white; font-weight:bold;"> 0</a>
                    }
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="dropdown">
                <a>Led</a>
                <div class="dropdown-content">
                    <a href="#">Led Pærer</a>
                    <a href="#">Led Spots</a>
                    <a href="#">Led Lysdæmpere</a>
                </div>
            </div>
            <div class="dropdown">
                <a>Belysning</a>
                <div class="dropdown-content">
                    <a href="#">Lyskilder</a>
                    <a href="#">Indbygningsspots</a>
                </div>
            </div>
            <div class="dropdown">
                <a>Kabler</a>
                <div class="dropdown-content">
                    <a href="#">Netværkskabel</a>
                    <a href="#">Telefonkable</a>
                    <a href="#">Højtalerledning</a>
                </div>
            </div>
        </div>
        <div id="products">
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
