@model Elgros.Models.UserModel
@{
    ViewData["Title"] = "Login";
}
<div>
    @using (Html.BeginForm("login/confirm", "user", FormMethod.Post))
    {
        @Html.TextBoxFor(Model => Model.username);
        @Html.TextBoxFor(Model => Model.password);
        <button>Login</button>
    }
    @* <form action="login/confirm" formaction="Post">
        <input type="username" name="username"/>
        <input type="password" name="psswd"/>
        <button>Login</button>
    </form>*@
</div>